<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">IA</a>
    <div class="offcanvas offcanvas-start" id="navbarNavDropdown">
      <ul class="navbar-nav m-2">
        <h3>Historico</h3>
      </ul>
    </div>
  </div>
</nav>